* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-top {
  position: fixed;
  width: 100%;
  border: 1px solid #5c5c5c;
}

.header-top .header-text {
  font-size: 12ch;
  text-align: center;
  font-variant: small-caps;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-top .header-text .span-text {
  color: #ffc400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-top .navbar {
  background-color: #5c5c5c;
}

.header-top .navbar .ullist .ullist__item {
  width: 100px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-negative: none;
      flex-shrink: none;
  padding: 1rem;
  margin-left: 1rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header-top .navbar .ullist .ullist__item a {
  color: aliceblue;
  text-decoration: none;
  list-style: none;
}

.header-top .navbar .ullist__item:hover {
  width: 100px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: none;
      -ms-flex-positive: none;
          flex-grow: none;
  -ms-flex-negative: none;
      flex-shrink: none;
  padding: 1rem;
  margin-left: 1rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.header-top .navbar .ullist__item:hover a {
  color: gold;
  text-decoration: none;
  list-style: none;
}

.main-body {
  border: 2px solid #ffc400;
  position: absolute;
  top: 10.9rem;
  height: 100vh;
  width: 100%;
}

.img_collaction {
  width: 250px;
  height: 350px;
  margin: 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.img_collaction:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.Container_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text_h2 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3em;
  border-bottom: 2px solid #5c5c5c;
  width: 100%;
  margin-bottom: 1em;
}
